xml/products.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (n, type, origin, karat, weight, materials, price, description, status, featured)>
<!ATTLIST product id CDATA #REQUIRED>
<!ELEMENT n (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT origin (#PCDATA)>
<!ELEMENT karat (#PCDATA)>
<!ELEMENT weight (#PCDATA)>
<!ELEMENT materials (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT featured (#PCDATA)>
